*{
  font-family: 'NTR',sans-serif;
  color: #ccd6f6;
  /* background-color:#0e1827; */
}

body {
  background-image: url("./img/bg.png");
  background-color: #cccccc;
 }

.blinker{
  font-weight: 100;
  font-size: 8rem;
  color: #64ffda;
}

.btn{
  color: #64ffda;
  border: 2px solid  #64ffda;
  background-color: black;
}

.a{
  color: #64ffda;
}
.img{
  background-color:#64ffda;
  fill: currentColor;
}

.d-block{
  border-bottom: 70px solid black;
  border-radius: 10px;
}